<!-- Header Nav. -->
<div id="wrapper">
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="#" class="logo">
                Logo
            </a>
        </div>

        <nav class="navbar-custom">
            <ul class="navbar-right list-inline float-right mb-0">

                <!-- Create Table Button-->
                <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                    <button type="button" class="btn btn-outline-primary waves-effect waves-light"><span
                            class="ti-plus"></span> Create Table</button>
                </li>

                <!-- User Profile-->
                <li class="dropdown notification-list list-inline-item">
                    <div class="dropdown notification-list nav-pro-img">
                        <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#"
                            role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="assets/images/users/user-4.jpg" alt="user" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                            <!-- item-->
                            <a class="dropdown-item" href="#"><i class="fas fa-user-edit"></i> Profile</a>
                            <a class="dropdown-item" href="#"><i class="mdi mdi-lock"></i> Reset Password</a>
                            <a class="dropdown-item" href="#"><i class="mdi mdi-logout-variant"></i> Logout</a>
                        </div>
                    </div>
                </li>

            </ul>

            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <h4 class="header-li"> Blank Board</h4>
                </li>
            </ul>

        </nav>

    </div>
</div>

<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li>
                    <a href="index.html" class="waves-effect">
                        <div class="suggestion-icon float-right">
                            <i class="mdi mdi-plus"></i>
                        </div> <span> BOARDS </span>
                    </a>
                    <ul class="subHeader">
                        <a class="waves-effect"><span>Blank Board <span class="float-right"><a
                                        class="mdi mdi-delete float-right"></a></span> </span></a>
                        <ul class="submenu">
                            <li><a href=""> Group 1</a></li>
                            <li><a href=""> Group 2</a></li>
                            <li><a href=""> Group 3</a></li>
                            <li><a href=""> Group 4</a></li>
                            <li><a href=""> Group 5</a></li>
                        </ul>
                    </ul>
                </li>

                <li>

                </li>
            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <app-blank-board></app-blank-board>            
        </div>
        <!-- container-fluid -->

    </div>
    <!-- content -->

</div>