<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <mat-card class="card m-b-30 mt-4" *ngFor="let group of groups">
                        <mat-card-content class="card-body">
                            <div class="page-title-box pt-1">
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <div class="dropdown notification-list">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                                                <h4 class="mt-0 header-title">{{group}}<i
                                                        class="fas fa-chevron-down"></i>
                                                </h4>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dr-men-right">
                                                <!-- item-->
                                                <a class="dropdown-item" *ngIf="collapsed===false"
                                                    (click)="collapsed=true"><img
                                                        src="assets/icons/unfold_more-24px.svg">
                                                    Collapase this group</a>
                                                <a class="dropdown-item" *ngIf="collapsed===true"
                                                    (click)="collapsed=false"><span class="mdi mdi-arrow-expand"></span>
                                                    Expand this group</a>
                                                <a class="dropdown-item" href="#"><i class="mdi mdi-pencil-outline"></i>
                                                    Rename group</a>
                                                <a class="dropdown-item" href="#"><i class="fas fa-trash"></i>
                                                    Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <button class="btn btn-outline-primary float-right"
                                                    *ngIf="this.selection.hasValue()" (click)="removeSelectedRows()"
                                                    type="button">
                                                    Delete
                                                </button>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="dropdown mo-mb-2 float-right">
                                                    <a href="" class="pt-1 header-title dropdown-toggle float-right"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false"><i
                                                            class="mdi mdi-filter"></i>Filter</a>
                                                    <div class="dropdown-menu dr-men-center"
                                                        aria-labelledby="dropdownMenuButton" x-placement="bottom-start">

                                                        <input class="dropdown-item rounded" [formControl]="myControl"
                                                            [matAutocomplete]="auto"
                                                            (keyup)="applyFilter($event.target.value)"
                                                            placeholder="Enter Name">
                                                        <mat-autocomplete class="auto-com" panelWidth="170px"
                                                            #auto="matAutocomplete">
                                                            <mat-option *ngFor="let option of filteredOptions | async"
                                                                [value]="option.first_name">
                                                                <div>
                                                                    <img [src]="option.avatar" alt=""
                                                                        class="auto-img img-fluid rounded-circle mr-2">
                                                                    {{option.first_name}}
                                                                </div>
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div> <!-- end row -->
                            </div>
                            <div [style.display]="collapsed? 'none' : 'block'">
                                <div class="table-responsive">

                                    <table mat-table [dataSource]="dataSource" matSort class="table table-hover">
                                        <ng-container [matColumnDef]="column"
                                            *ngFor="let column of displayedColumns;let i = index">
                                            <ng-container>
                                                <ng-container *ngIf="column === 'select';else elseBlock" sticky>
                                                    <mat-header-cell *matHeaderCellDef>
                                                        
                                                    </mat-header-cell>
                                                </ng-container>
                                                <ng-template #elseBlock>
                                                    <ng-container *ngIf="column === 'star';else elseCase">

                                                        <mat-header-cell *matHeaderCellDef stickyend>
                                                            <div class="table-drp dropdown">
                                                                <button class="drp-btn dropdown-toggle"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                    <span>
                                                                        <mat-icon>add_circle_outline</mat-icon>
                                                                    </span>
                                                                </button>
                                                                <div class="table-drp-men dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton">
                                                                    <a class="table-drp-item dropdown-item"
                                                                        *ngFor="let colHead of columnHeaders;let index = index" (click)="addColumn(index)"><img
                                                                            class="drp-img"
                                                                            [src]="colHead.icon">{{colHead.choice}}</a>
                                                                </div>
                                                            </div>
                                                        </mat-header-cell>
                                                    </ng-container>
                                                    <ng-template #elseCase>
                                                        <mat-header-cell *matHeaderCellDef mat-sort-header>

                                                            <editable>
                                                                <ng-template viewMode>
                                                                    {{column}}
                                                                </ng-template>
                                                                <ng-template editMode>
                                                                    <mat-form-field class="example-full-width">
                                                                        <input matInput
                                                                            [formControl]="getHeaderControl(i, column)"
                                                                            editableOnEnter (input)="updateHeader(index,column , $event.target.value)">
                                                                    </mat-form-field>
                                                                </ng-template>
                                                            </editable>
                                                        </mat-header-cell>
                                                    </ng-template>
                                                </ng-template>


                                                <mat-cell *matCellDef="let element;let index = index">
                                                    <ng-container *ngIf="column === 'select'">
                                                        <mat-checkbox (click)="$event.stopPropagation()"
                                                            (change)="$event ? selection.toggle(element) : null"
                                                            [checked]="selection.isSelected(element)"
                                                            [aria-label]="checkboxLabel(element)">
                                                        </mat-checkbox>
                                                    </ng-container>
                                                    <ng-container *ngIf="column === 'text'">
                                                        <editable (update)="updateField(index, column)">
                                                            <ng-template viewMode>
                                                                <ng-container *ngIf="!element[column];else elseText">
                                                                    <button class="table-input-text-control"> Item Name
                                                                    </button>
                                                                </ng-container>
                                                                <ng-template #elseText>
                                                                    {{element[column]}}
                                                                </ng-template>


                                                            </ng-template>
                                                            <ng-template editMode>
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput
                                                                        [class.is-invalid]="getControl(index , 'text').invalid && getControl(index , 'text').touched"
                                                                        [formControl]="getControl(index, 'text')"
                                                                        editableOnEnter>
                                                                    <mat-error
                                                                        *ngIf="getControl(index, 'text').hasError('required')">
                                                                        This Field is required!
                                                                    </mat-error>
                                                                </mat-form-field>
                                                            </ng-template>
                                                        </editable>
                                                    </ng-container>
                                                    <ng-container *ngIf="column === 'date'">
                                                        <editable (update)="updateField(index, column)">
                                                            <ng-template viewMode>
                                                                <ng-container *ngIf="!element[column];else elseDate">
                                                                    <button
                                                                        class="table-input-date-control">dd-mm-yy</button>
                                                                </ng-container>
                                                                <ng-template #elseDate>
                                                                    {{element[column] | date:'dd-MM-yyyy'}}
                                                                </ng-template>

                                                            </ng-template>
                                                            <ng-template editMode>
                                                                <mat-form-field>
                                                                    <input matInput [matDatepicker]="picker"
                                                                        [formControl]="getControl(index, 'date')"
                                                                        placeholder="dd-mm-yy" editableOnEnter>
                                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                                    </mat-datepicker-toggle>
                                                                    <mat-datepicker #picker></mat-datepicker>
                                                                </mat-form-field>
                                                            </ng-template>
                                                        </editable>
                                                    </ng-container>
                                                    <ng-container *ngIf="column === 'peoples'">
                                                        <editable (update)="updateField(index, column)">
                                                            <ng-template viewMode>
                                                                    <ng-container *ngIf="element[column]['name'] == '';else elseMember">
                                                                            <button
                                                                                class="btn table-input-member-control rounded-circle">
                                                                                <i class="mdi mdi-account"></i>
                                                                            </button>
                                                                        </ng-container>
                                                                        <ng-template #elseMember>
                                                                                <div>
                                                                                        <img [src]="element[column]['img']" alt=""
                                                                                            class="thumb-md rounded-circle mr-2">
                                                                                        {{element[column]['name']}}
                                                                                    </div>
                                                                        </ng-template>


                                                            </ng-template>
                                                            <ng-template editMode>
                                                                <!-- <mat-form-field class="example-full-width">
                                                                <input matInput
                                                                    [formControl]="getControl(index, 'peoples')"
                                                                     editableOnEnter>
                                                                <mat-error
                                                                    *ngIf="getControl(index, 'peoples').hasError('required')">
                                                                    This Field is required!
                                                                </mat-error>
                                                            </mat-form-field> -->
                                                                <input class="dropdown-item rounded"
                                                                    [formControl]="myControl" [matAutocomplete]="auto"
                                                                    placeholder="Enter Name" editableOnEnter>
                                                                <mat-autocomplete class="auto-com" panelWidth="170px"
                                                                    #auto="matAutocomplete">
                                                                    <mat-option
                                                                        *ngFor="let option of filteredOptions | async"
                                                                        [value]="option">
                                                                        <div>
                                                                            <img [src]="option.avatar" alt=""
                                                                                class="auto-img img-fluid rounded-circle mr-2">
                                                                            {{option.first_name}}
                                                                        </div>
                                                                    </mat-option>
                                                                </mat-autocomplete>

                                                            </ng-template>
                                                        </editable>
                                                    </ng-container>
                                                    <ng-container *ngIf="column === 'status'">
                                                        <editable (update)="updateField(index, column)">
                                                            <ng-template viewMode>
                                                                <ng-container *ngIf="!element[column];else elseStatus">
                                                                    <button class="table-input-status-control rounded">+
                                                                        Add </button>
                                                                </ng-container>
                                                                <ng-template #elseStatus>
                                                                    {{element[column]}}
                                                                </ng-template>
                                                            </ng-template>
                                                            <ng-template editMode>
                                                                <!-- <mat-chip-list>
                                                                <select class="form-control" [(value)]="selected"
                                                                    [formControl]="getControl(index, 'status')"
                                                                    editableOnEnter>
                                                                    
                                                                </select>
                                                            </mat-chip-list> -->


                                                            </ng-template>
                                                        </editable>
                                                    </ng-container>
                                                    <ng-container *ngIf="column === 'numbers'">
                                                        <editable (update)="updateField(index, column)">
                                                            <ng-template viewMode>
                                                                <ng-container *ngIf="!element[column];else elseNumbers">
                                                                    <button class="table-input-control"></button>
                                                                </ng-container>
                                                                <ng-template #elseNumbers>
                                                                    {{element[column]}}
                                                                </ng-template>
                                                            </ng-template>
                                                            <ng-template editMode>
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput
                                                                        [formControl]="getControl(index, 'numbers')"
                                                                        editableOnEnter >
                                                                    <mat-error
                                                                        *ngIf="getControl(index, 'numbers').hasError('pattern')">
                                                                        Only digits are allowed!
                                                                    </mat-error>
                                                                </mat-form-field>
                                                            </ng-template>
                                                        </editable>
                                                    </ng-container>
                                                    <ng-container *ngIf="column === 'star'">
                                                    </ng-container>
                                                </mat-cell>
                                            </ng-container>

                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: columnsToDisplay;"
                                            (click)="selection.toggle(row)"></mat-row>

                                    </table>
                                    <div class="d-lg-inline-flex flex-large pt-2 bd-highlight">
                                        <div class="input-indicator">
                                        </div>
                                        <input type="text" class="add-input" placeholder="+  Add">
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

            </div>



        </div>
        <!-- container-fluid -->

    </div>
    <!-- content -->

</div>