.card-body {
    margin-top: 10px;
    font-family: "Poppins", sans-serif !important;
}

img {
    margin-left: -7px;
    margin-right: 5px; 
}



.dropdown-menu {
    font-size: 12px !important;
    font-family: "Poppins", sans-serif !important;
}

.dropdown-menu-right {
    transform: translate3d(96px, 17px, 0px) !important;
    box-shadow: #495057;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: none;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dr-men-center {
    position: absolute; 
    will-change: transform; 
    top: 0px; 
    left: 0px; 
    transform: translate3d(-80px, 40px, 0px) !important;
}

.notification-list .nav-link {
    padding: 0 15px;
    line-height: 70px;
    color: #495057;
    max-height: 50px;
}

.notification-list.show .nav-link {
    background-color: white;
}

.fa-chevron-down:before {
    padding-left: 15px;
    padding-bottom: 26px;
}
.mdi-arrow-expand:before {
    margin-right: 10px;
}

.mdi-pencil-outline{
    margin-right: 10px;
}

.del-img{
    height: 25px;
    width: 25px;
}


.fa-trash:before {
    margin-right: 10px;
}

.mdi-filter:before {
    color: #30419b;
    padding-right: 8px;
}


::ng-deep .auto-com {
    min-width: 170px;
    max-width: 170px !important;
    white-space: nowrap !important;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    max-height: 100px !important;
    position: relative;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
 
}

::ng-deep .mat-option {
    font-family: "Poppins", sans-serif !important;
    font-size: 12px !important;
}


.auto-img{
    height: 26px;
    width: 26px;
    margin-left: 0px;
}


.table-responsive {
    
    max-height: 400px;
    overflow-x: visible !important;
    overflow-y: visible !important;
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif !important;
    background: #F9F9F9 !important;
    overflow: visible !important;
  }


  .mat-header-row {
    position: sticky;
    top: 0;
}


  .mat-column-select {
    overflow: initial
  }

  .mat-sort-header-sorted {
    color: black;
  }

  .mat-sort-header-button {
    border: none;
    background: 0 0;
    display: inline-flex;
    align-items: center;
    padding: 0;
    cursor: inherit;
    outline: 0;
    font: inherit;
    color: initial;
    font-family: "Poppins", sans-serif !important;
    font-weight: 900;

}

.mat-header-cell {
    font-size: 14.5px !important;
    color: inherit;
    font-family: "Poppins", sans-serif !important;
    padding: 0;
    border-bottom-style: none !important;
    border-top-style: none !important;
    margin-top: 10px;
    overflow: visible !important;
}

  mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 10px;
    
}

.table-drp-item{
    border-bottom : 0.03px solid rgb(239, 239, 240);
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-size: 10pt !important;

}

.drp-img{
    width: 15px;
    margin-right: 25px;
    height: 15px;
    margin-left: 6px;
  }

 ::ng-deep.mat-icon{
      color : #30419b;
  }

  .drp-btn{

    padding: 0;

    background-color: transparent;
    background-clip: padding-box;
    border: none;

  }


.mat-row:hover {
    background-color: rgb(222, 228, 230);
}

.mat-row {
    display: flex;
    border-width: 0;
    border-bottom-width: 0.5px;
    border-style: solid;
    align-items: center;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif !important;

}
  

  .mat-cell, .mat-footer-cell {
    padding: 0;
    border-bottom-style: none !important;
    border-top-style: none !important;
    margin-top: 10px;
    font-size: 13.5px !important;
}

.table-input-text-control{
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: 0;
    line-height: 1.5;
    color:  rgba(0,0,0,.87) ;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    font-size: 13.5px !important;
    font-family: "Poppins", sans-serif !important;
}

.table-input-status-control{
    display: block;
    width: 80px;
    height: 25px;
    padding-right: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #F0F4F7;
    background-clip: padding-box;
    border: none;
    font-size: 13.3px !important;
}



.table-input-date-control{
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    font-size: 13.5px !important;
    font-weight: 500;
    font-family: "Poppins", sans-serif !important;
}
.table-input-member-control{
    display: block;
    height: 32px;
    width: 32px;
    padding: 0;
    margin-left: 1px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 0.5px solid grey;
    font-size: 13.5px !important;
    font-weight: 500;
    font-family: "Poppins", sans-serif !important;
}

.table-input-control{
    display: block;
    width: 90px;
    height: calc(1.5em + .75rem + 2px);
    padding: 0;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 0.5px dotted rgb(104, 103, 103);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 13.5px !important;
    font-family: "Poppins", sans-serif !important;
}


.mat-footer-row {
    font-weight: 500;
    font-family: "Poppins", sans-serif !important;
  }

.table-drp{
    margin-left: 60px;
    margin-top: 8px;
    position: sticky;
    position: -webkit-sticky;
}  

.table-drp-men{
    transform: translate3d(-150px, 20px, 0px) !important;
    
}



.thumb-md {
    height: 32px;
    width: 32px;
    margin-left: 1px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em;
    width: 130px;;
}

.flex-large{
    width : 100% !important;
}

.input-indicator {
    position: relative;
    width: 8px;
    height: 100%;
    overflow: hidden;
    flex: 0 0 6px;
    display: flex;
    border-bottom: 1px solid white;
    height: 61px;
    border-radius: 2px;
    background-color: #30419b !important;
}



.add-input {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 0;
    border: 1px solid #e6e9ef;
    height: 60px;
    background: #fff;
    font-size: 13px;
    outline: none;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 5px;
    text-align: left;
    font-family: "Poppins", sans-serif !important;
    border-right: none;
}















