<div class="row">
    <div class="col-xl-12">
        <mat-card class="card m-b-30 mt-4">
            <mat-card-content class="card-body ">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <div class="dropdown notification-list">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                                    <h4 class="mt-0 header-title">Group 1<i class="fas fa-chevron-down"></i></h4>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dr-men-right">
                                    <!-- item-->
                                    <a class="dropdown-item" href="#"><img src="assets/icons/unfold_more-24px.svg">
                                        Collapase this group</a>
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-pencil-outline"></i>
                                        Rename group</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-10">
                                    <button class="btn btn-outline-primary float-right" type="button">
                                        Delete
                                    </button>
                                </div>
                                <div class="col-sm-2">
                                    <div class="dropdown mo-mb-2 float-right">
                                        <a href="" class="pt-1 header-title dropdown-toggle float-right"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"><i class="mdi mdi-filter"></i>Filter</a>
                                        <div class="dropdown-menu dr-men-center" aria-labelledby="dropdownMenuButton"
                                            x-placement="bottom-start">
                                            <input type="search" class="dropdown-item rounded" placeholder="Enter name">
                                            <a class="dropdown-item" href="#"><img
                                                    class="del-img img-fluid rounded-circle"
                                                    src="assets/images/users/user-4.jpg" alt=""> &nbsp;name</a>
                                            <a class="dropdown-item" href="#"><img
                                                    class="del-img img-fluid rounded-circle"
                                                    src="assets/images/users/user-4.jpg" alt=""> &nbsp;name</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div> <!-- end row -->
                </div>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Contact</th>
                                <th scope="col">Location</th>
                                <th scope="col" colspan="2">Date</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Philip Smead</td>
                                <td><span class="badge badge-success">Delivered</span></td>
                                <td>$9,420,000</td>
                                <td>
                                    <div>
                                        <img src="assets/images/users/user-2.jpg" alt=""
                                            class="thumb-md rounded-circle mr-2"> Philip Smead
                                    </div>
                                </td>
                                <td>Houston, TX 77074</td>
                                <td>15/1/2018</td>

                                <td>
                                    <div>
                                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Brent Shipley</td>
                                <td><span class="badge badge-warning">Pending</span></td>
                                <td>$3,120,000</td>
                                <td>
                                    <div>
                                        <img src="assets/images/users/user-3.jpg" alt=""
                                            class="thumb-md rounded-circle mr-2"> Brent Shipley
                                    </div>
                                </td>
                                <td>Oakland, CA 94612</td>
                                <td>16/1/2019</td>

                                <td>
                                    <div>
                                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Robert Sitton</td>
                                <td><span class="badge badge-success">Delivered</span></td>
                                <td>$6,360,000</td>
                                <td>
                                    <div>
                                        <img src="assets/images/users/user-4.jpg" alt=""
                                            class="thumb-md rounded-circle mr-2"> Robert Sitton
                                    </div>
                                </td>
                                <td>Hebron, ME 04238</td>
                                <td>17/1/2019</td>

                                <td>
                                    <div>
                                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Alberto Jackson</td>
                                <td><span class="badge badge-danger">Cancel</span></td>
                                <td>$5,200,000</td>
                                <td>
                                    <div>
                                        <img src="assets/images/users/user-5.jpg" alt=""
                                            class="thumb-md rounded-circle mr-2"> Alberto Jackson
                                    </div>
                                </td>
                                <td>Salinas, CA 93901</td>
                                <td>18/1/2019</td>

                                <td>
                                    <div>
                                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>David Sanchez</td>
                                <td><span class="badge badge-success">Delivered</span></td>
                                <td>$7,250,000</td>
                                <td>
                                    <div>
                                        <img src="assets/images/users/user-6.jpg" alt=""
                                            class="thumb-md rounded-circle mr-2"> David Sanchez
                                    </div>
                                </td>
                                <td>Cincinnati, OH 45202</td>
                                <td>19/1/2019</td>

                                <td>
                                    <div>
                                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

</div>