<!-- Header Nav. -->
<div id="wrapper">
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="#" class="logo">
                Logo
            </a>
        </div>

        <nav class="navbar-custom">
            <ul class="navbar-right list-inline float-right mb-0">

                <!-- Create Table Button-->
                <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                    <button type="button" *ngIf="navButton === true" (click)="createTable()"
                        class="btn btn-outline-primary waves-effect waves-light" ><span class="ti-plus"></span> Create
                        Table</button>
                </li>

                <!-- User Profile-->
                <li class="dropdown notification-list list-inline-item">
                    <div class="dropdown notification-list nav-pro-img">
                        <a class="dropdown-toggle nav-link nav-user" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <img *ngIf="userDetails.avatar; else elseBlock" [src]="userDetails.avatar"
                                class="rounded-circle" (error)="errorHandler($event)">
                            <ng-template #elseBlock>
                                <img class="rounded-circle"
                                    src="https://ui-avatars.com/api/?name={{userDetails.first_name.charAt(0)}}&background=0D8ABC&color=fff">
                            </ng-template>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                            <!-- item-->
                            <a class="dropdown-item" href="#"><img class="drop-img" src="assets/icons/Group 120.svg">
                                Edit Profile Picture</a>
                            <a class="dropdown-item" href="#" routerLink="/resetpassword" routerLinkActive="active"><i
                                    class="mdi mdi-lock"></i> Reset Password</a>
                            <a class="dropdown-item" href="#" (click)="_authService.logoutUser()"><img class="drop-img"
                                    src="assets/icons/logout.svg">
                                Logout</a>
                        </div>
                    </div>
                </li>

            </ul>

            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <h4 class="header-li">{{pageHeader}}</h4>
                </li>
            </ul>

        </nav>

    </div>
</div>

<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li>
                    <a class="menu-title">
                        <img (click)="addNewBoard()" src="../assets/icons/Group 41.svg"
                            class="cir-img pt-1 float-right">
                        <span> BOARDS </span>
                    </a>
                <li>
                <li *ngFor="let tabName of boardName">
                    <a class="waves-effect" (click)="boardDetails(tabName)"
                        [routerLink]="['/home/blankboard',tabName.id]" routerLinkActive="active">
                        <a class="mdi mdi-delete float-right" *ngIf="tabName.board_name === selectedBoard"
                            (click)=deleteBoards(tabName)></a>
                        <div class="nav-side-list">
                            <a>{{tabName.board_name}}</a>
                        </div>

                    </a>
                </li>
            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<router-outlet></router-outlet>